<div class="search_input" id="search_input_box">
  <div class="container">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="d-flex justify-content-between">
          <input
              type="text"
              class="form-control"
              id="search_input"
              placeholder="Search Here"
              formControlName="searchKey"/>

          <button type="submit" class="btn"></button>
          <span
              class="ti-close"
              id="close_search"
              (click)="closeSearch()"
              title="Close Search"></span>
      </form>
  </div>
</div>