.is-invalid{border-bottom: 1px solid red;}
.main_title-about-us {
    text-align: center;
    margin-bottom: 16px;
}
.main_title-about-us h2, .main_title-contact-us h2{
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
}

.main_title-contact-us {
    text-align: center;
    margin-bottom: 36px;
}

.primary-btn {
    display: inline-block;
    background: #fdc632;
    padding: 0px 48px;
    color: #002347;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:hover {
    background: #002347;
    color: #fdc632!important;
}
