<!--================ Start Header Menu Area =================-->
<header-ui logoFor="home" [isAuth]="isAuth"></header-ui>
<!--================ End Header Menu Area =================-->

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area" id="home">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <p class="text-uppercase">
                            MEILLEUR SERVICE D'ÉDUCATION EN LIGNE AU MONDE
                        </p>
                        <h2 class="text-uppercase mt-4 mb-5">
                            On
                            <span style="color:#fdc632">Prepare Tous</span>
                            Ensemble
                        </h2>
                        <div>
                            <a [ngx-scroll-to]="'#destination'" style="color:#fdc632" class="primary-btn2 mb-3 mb-sm-0">Plus d'etails</a>
                            <a [ngx-scroll-to]="'#destination'" class="primary-btn ml-sm-3 ml-0">Voir les cours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ End Home Banner Area =================-->

<!--================ Start Feature Area =================-->
<section class="feature_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Nos Services</h2>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let service of services" class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon">
                        <span [class]="service.iconServ"></span>
                    </div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">{{service.title}}</h4>
                        <p>
                            {{service.desc}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Feature Area =================-->

<!--================ Start Popular Courses Area =================-->
<div class="popular_courses">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Our Popular Courses</h2>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-12">
                <div class="owl-carousel active_course" #carousel>
                    <div [ngx-scroll-to]="'#destination'" style="cursor: pointer" *ngFor="let course of courses" class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" [src]="course.imgUrl" alt=""/>
                        </div>
                        <div class="course_content">
                            <span class="price">${{course.price}}</span>
                            <span class="tag mb-4 d-inline-block">{{course.tag}}</span>
                            <h4 class="mb-3">
                                <a>{{course.title}}</a>
                            </h4>
                            <p>
                                {{course.desc}}
                            </p>
                            <div
                                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <div class="authr_meta">
                                    <img [src]="course.randomUsrAvatar" alt=""/>
                                    <span class="d-inline-block ml-2">{{course.randomUsrName}}</span>
                                </div>
                                <div class="mt-lg-0 mt-3">
                                    <span class="meta_info mr-4">
                                        <a href="#">
                                            <i class="ti-user mr-2"></i>{{course.nbMembers}}
                                        </a>
                                    </span>
                                    <span class="meta_info">
                                        <a href="#">
                                            <i class="ti-heart mr-2"></i>{{course.nbLikes}}
                                        </a>
                                    </span >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Popular Courses Area =================-->

<!--================ Start Registration Area =================-->
<div id="destination" class="section_gap registration_area">
    <home-registration (isRegistrated)="isRegister($event)"></home-registration>
</div>
<!--================ End Registration Area =================-->

<!--================ Start Trainers Area =================-->
<section class="trainer_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Nos Profs & Experts</h2>
                    <p>
                        Les professeurs et les experts les meilleurs dans leurs domaines 
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">

            <div
                *ngFor="let talent of talents"
                class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" [src]="talent.imgUrl" alt=""/>
                </div>
                <div class="meta-text text-sm-center">
                    <h4>{{talent.fullName}}</h4>
                    <p class="designation">Sr.
                        {{talent.profil}}</p>
                    <div class="mb-4">
                        <p>
                            {{talent.desc}}
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a [href]="talent.socialLinks.fb">
                            <i class="ti-facebook"></i>
                        </a>
                        <a [href]="talent.socialLinks.tw">
                            <i class="ti-twitter"></i>
                        </a>
                        <a [href]="talent.socialLinks.lk">
                            <i class="ti-linkedin"></i>
                        </a>
                        <a [href]="talent.socialLinks.pi">
                            <i class="ti-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Trainers Area =================-->

<!--================ Start Testimonial Area =================-->
<div class="testimonial_area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Client say about me</h2>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="testi_slider owl-carousel" #testiSlider>
                <div *ngFor="let fb of usrsFeedback" class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img [src]="fb.userAvatar" alt=""/>
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4>{{fb.userFullName}}</h4>
                                <p>
                                    {{fb.comment}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Testimonial Area =================-->

<!--================ Start About Banner Area =================-->
<section id="about" class="about_area section_gap">
    <div class="container">
            <div class="main_title-about-us">
                    <h2>About Us</h2>
                </div>
      <div class="row h_blog_item">
        <div class="col-lg-6">
          <div class="h_blog_img">
            <img class="img-fluid" src="/assets/img/about.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="h_blog_text">
            <div class="h_blog_text_inner left right">
              <h4>Welcome to our Institute</h4>
              <p>
                Subdue whales void god which living don't midst lesser
                yielding over lights whose. Cattle greater brought sixth fly
                den dry good tree isn't seed stars were.
              </p>
              <p>
                Subdue whales void god which living don't midst lesser yieldi
                over lights whose. Cattle greater brought sixth fly den dry
                good tree isn't seed stars were the boring.
              </p>
              <a class="primary-btn" href="#">
                Learn More <i class="ti-arrow-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End About Banner Area =================-->

   <!--================Contact Area =================-->
   <section id="contact" class="contact_area section_gap">
       
        <div class="main_title-contact-us">
                <h2>Contact Us</h2>
            </div>
    <home-contact-us></home-contact-us>
  </section>
  <!--================Contact Area =================-->

<!--================ Start footer Area =================-->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Top Products</h4>
                <ul>
                    <li>
                        <a href="#">Managed Website</a>
                    </li>
                    <li>
                        <a href="#">Manage Reputation</a>
                    </li>
                    <li>
                        <a href="#">Power Tools</a>
                    </li>
                    <li>
                        <a href="#">Marketing Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Quick Links</h4>
                <ul>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Brand Assets</a>
                    </li>
                    <li>
                        <a href="#">Investor Relations</a>
                    </li>
                    <li>
                        <a href="#">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Features</h4>
                <ul>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Brand Assets</a>
                    </li>
                    <li>
                        <a href="#">Investor Relations</a>
                    </li>
                    <li>
                        <a href="#">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="#">Guides</a>
                    </li>
                    <li>
                        <a href="#">Research</a>
                    </li>
                    <li>
                        <a href="#">Experts</a>
                    </li>
                    <li>
                        <a href="#">Agencies</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>Newsletter</h4>
                <p>You can trust us. we only send promo offers,</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form
                            [formGroup]="newsLetterForm" 
                            (ngSubmit)="onSubmitNewsLetter()"
                        class="form-inline">
                        <input
                            placeholder="Your Email Address"
                            formControlName="email"
                            type="email"/>
                        <button class="click-btn btn btn-default">
                            <span>subscribe</span>
                        </button>
                        <div style="position: absolute; left: -5000px;">
                            <input
                                name="b_36c4fd991d266f23781ded980_aefe40901a"
                                tabindex="-1"
                                value=""
                                type="text"/>
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY
                3.0. -->
                <span style="color:#002347">
                    Copyright &copy;</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
                <span style="color:#002347">
                    All rights reserved | This template is made with
                    <i class="ti-heart" aria-hidden="true"></i>
                </span>
                <span style="color:#002347">
                    by</span>
                <a href="https://colorlib.com" target="_blank">
                    <span style="color:#002347">
                        Colorlib</span>
                </a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY
                3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#">
                    <i class="ti-facebook"></i>
                </a>
                <a href="#">
                    <i class="ti-twitter"></i>
                </a>
                <a href="#">
                    <i class="ti-dribbble"></i>
                </a>
                <a href="#">
                    <i class="ti-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>